@import "tailwindcss";

@theme {
  --color-primary: #141414;
  --color-secondary: #2c2c2c;
  --color-accent: #3b82f6;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #10b981;
}

body {
  background-color: var(--color-primary);
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
